{% extends 'base.html' %}

{% block section %}
<div class="container">
  <div class="d-sm-auto">
    <h1>Welcome to <span class="text-warning"> Frank's Blog</span> </h1>
    <h3>A blog to find interesting articles about <span class="text-warning">wildlife</span>, 
      <span class="text-warning"> climate change</span> and <span class="text-warning">community building</span></h3>
  </div>
</div>
{% endblock %}

{% block content %}
<div align="center">
  <div class="container">
    <h1>About Me</h1>
    <article>
      I am a wildlife enthusiast and a community builder. I love to write about wildlife and climate change. 
      I am also a software developer and I love to build web applications. 
      I am currently working on a project to build a community for wildlife enthusiasts. 
      I am a student of AltSchoolAfrica learning backened development aspect of software engineering.
      I am also working on a project to build a web application to help people find the best places to visit in the world.
    </article>
  </div>
    <div class="container">
      <h1>Article Focus</h1>
      <article>
       This blog focuses on wildlife, climate change and community building. In this blog, I will be writing about the following topics:
       wildlife, climate change, community building, leadership and self development, you too will be able to write articles about these topics.
       Thanks for visiting my blog.
      </article>
    </div>
</div>
{% endblock %}

